@page "/storage/{StorageName}"
@using foodTrackerFrontEnd.Interfaces;
@using foodTrackerFrontEnd.Models;
@using foodTrackerFrontEnd.Pages.Modals;
@inject IFoodTrackerApiService<FoodStorage> _storageService;
@inject IFoodTrackerApiService<FoodItem> _foodService;
@inject IDialogService DialogService;
@inject NavigationManager _navigationManager;

@inject AppState AppState
@implements IDisposable

<h1>@System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(StorageName)</h1>
<AuthorizeView>
    <Authorized>
        @if (itemsLoading)
        {
                <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
        }
        else
        {
            <MudButton Class="mb-4" @onclick="@(() => OpenDialog())" Variant="Variant.Filled" Color="Color.Primary">
                Add Item
            </MudButton>
            @foreach (var item in AppState.FoodItemList)
            {
                <MudCard Class="mb-4">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h6">@item.Name</MudText>
                        </CardHeaderContent>
                        <CardHeaderActions>
                            <MudIconButton OnClick="@(() => OpenDialog(item))" Icon="@Icons.Material.Filled.Edit" Color="Color.Default" />
                            <MudIconButton OnClick="@(() => ConfirmDelete(item))" Icon="@Icons.Material.Filled.Delete" Color="Color.Error" />
                        </CardHeaderActions>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudText Typo="Typo.body2">@item.GetExpiry()</MudText>
                        <MudText Align="Align.Right">x @item.Quantity</MudText>
                    </MudCardContent>
                </MudCard>
            }
        }
    </Authorized>
    <NotAuthorized>
        Welcome to Food Expiry Tracker! Please log in to add items
    </NotAuthorized>
</AuthorizeView>

@code {
    protected override void OnInitialized()
    {
        AppState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        AppState.OnChange -= StateHasChanged;
    }


    [Parameter]
    public string StorageName { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private bool itemsLoading = true;
    private string storageId;


    protected override async Task OnParametersSetAsync()
    {
        itemsLoading = true;
        storageId = await GetStorageIdByName(StorageName);
        var authState = await authenticationStateTask;
        var user = authState.User;

        if (string.IsNullOrEmpty(storageId))
        {
            _navigationManager.NavigateTo("/");
        }

        if (user.Identity.IsAuthenticated)
        {
            var foodItemList = await _foodService.List(storageId);
            AppState.SetFoodItemList(foodItemList.ToList());
        }

        itemsLoading = false;
    }

    private async Task<string> GetStorageIdByName(string name)
    {
        if (!AppState.StorageList.Any(s => s.Name.ToLower() == name))
        {
            var storageList = await _storageService.List();
            AppState.SetStorageList(storageList.ToList());
        }

        if (AppState.StorageList.Any(s => s.Name.ToLower() == name))
            return AppState.StorageList.Where(s => s.Name.ToLower() == name).First().Id;

        return null;
    }

    private async void OpenDialog(FoodItem item = null)
    {
        DialogOptions closeOnEscapeKey = new DialogOptions() { CloseOnEscapeKey = true, MaxWidth = MaxWidth.Small, FullWidth = true };
        var dialogParams = new DialogParameters();
        dialogParams.Add("StorageId", storageId);

        string dialogTitle = $"Add Item to {@System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(StorageName)}";

        if (item != null)
        {
            dialogParams.Add("ItemToEdit", item);
            dialogTitle = $"Editing {item.Name}";
        }

        var dialog = DialogService.Show<AddFoodItem>(dialogTitle, dialogParams, closeOnEscapeKey);

        var result = await dialog.Result;

        if (!result.Canceled)
        {
            this.StateHasChanged();
        }
    }

    private async void ConfirmDelete(FoodItem item)
    {
        DialogOptions closeOnEscapeKey = new DialogOptions() { CloseOnEscapeKey = true, MaxWidth = MaxWidth.Small, FullWidth = true };
        var dialogParams = new DialogParameters();
        dialogParams.Add("Item", item);

        var dialog = DialogService.Show<DeleteConfirm>("Confirm Delete", dialogParams, closeOnEscapeKey);

        var result = await dialog.Result;

        if (!result.Canceled)
        {
            this.StateHasChanged();
        }
    }
}
